@import url('https://fonts.googleapis.com/css?family=Nunito');

:root {
  --gold: 	#bf9b30;
  --primary: #bf9b30 !important;
}

body {
  font-family: 'Nunito', sans-serif;
}

body * {
  background-size: cover;
  background-position: center;
}

.navbar2 {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 300;
}

.text-gold {
  color: var(--gold);
}

.tier-one-links {
  color: var(--gold)
}

.tier-one-links:hover {
  color: #555;
  text-decoration: none;
}

.text-primary {
  color: #bf9b30 !important;
}

.intro-text {
  /* font-style: italic;   */
}

.logo-container {
  max-width: 150px;
}

@media (min-width: 768px) {
  .border-md-none {
    border-bottom: none;
  }
   
.mw-md-fit-content {
  max-width: fit-content;
}
}

.three-tiered-nav, .three-tiered-nav * {
  transition: ease-in-out;
  transition-duration: .2s;
}

.mw-fit-content {
  max-width: fit-content;
}


/* media query sm screens down */
@media (max-width: 767.98px) {
  .three-tiered-nav {
    position: fixed;
    z-index: 200;
    left: 0;
    right: 0;
    top: 0;
  }
 
  .side-nav {
      position: fixed;
      background-color: #fff;
      top: 0;
      left: 0;
      right: 20%;
      bottom: 0;
      z-index: 2;
      transform: translateX(-100%);
      transition: ease-in-out;
      transition-duration: 0.4s;
  }
  .side-nav-container.active .side-nav {
    transform: translateX(0%);
  }
  .side-nav-container.active .side-nav--backdrop {
    content: " ";
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
  }

  .side-nav li.nav-item {
    font-size: 0.8rem;
    padding: 0.5rem 0.8rem 0.5rem 2rem;
    border-bottom: 1px solid #dee2e6;
  }

  .side-nav li.nav-item .nav-link {
    display: inline-block;
  }

  .side-nav li.nav-item::before {
      content: " ";
      display: inline-block;
      margin-left: -1rem;
      margin-right: 0.6rem;
      min-width: 0.7rem;
      height: 0.7rem;
      background-color: var(--gold);
      border-radius: 50%;
  }

  .side-nav li.nav-item.active {
      border-right: 0.5rem solid var(--gold);
  }
}

.banner-section {
  min-height: 70vh;
  background-image: url('../img/banner-img.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fff;
}

.banner-section .container-fluid {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    min-height: 100%;
}

.feature-item {
  min-height: 250px;
    position: relative;
}

.feature-item.type-full {
    background-size: cover;
    background-position: center;
    padding: 0;
}

.feature-item .feature-content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.feature-item.type-full .feature-content {
  background-color: rgba(0, 0,0, 0.7);
}
/* radial-gradient(circle, #37353a, #37353a, #38363b, #38363b, #38363b); */

.btn-outline-gold {
  color: var(--gold);
  border: 2px solid var(--gold)
}

.btn-outline-gold:hover {
  color: #fff;
  background-color: var(--gold);
}

.btn-gold {
  color: #fff;
  background-color: var(--gold);
}

.btn-outline-white {
  color: #fff;
  border: 2px solid #fff;
}

.btn-outline-white:hover {
  color: var(--gold);
  background-color: #fff;
}

.bg-gold-gradient {
  background-image: linear-gradient(to right top, #FF9800, #bd7f02, #FFC107, #f4bd48, #f4f4ac);
}

.feature-content-text {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  right: 0;
  padding: 0.6rem;
}

.product-slide {
    max-width: 250px;
    position: relative;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 1rem 1rem;
}

.shorthr {
  max-width: 100px;
  border-top: 3px solid var(--gold);
}

a {
  color: var(--primary);
}

a:hover {
  color: var(--primary);
  font-weight: bolder;
}

.product-price {
  font-size: 1.4rem;
}

.product-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  align-items: center;
  font-size: 1.3rem;
}

.favorited {
  color: var(--primary);
}

.special-deals .deal-item{
  min-height: 250px;
  position: relative;
}

.deal-item .deal-item-content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-transform: uppercase;
}

.deal-item-content.central {
  align-items: center;
  justify-content: center;
}

.deal-item-content.center-left {
  align-items: flex-start;
  justify-content: center;
}

.deal-item-content.bottom-center {
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}

.subscription-email {
  width: 80%;
  max-width: 300px;
}

.footer-logo {
  max-width: 250px;
}

.footer-link {
  white-space: nowrap;
}

#app {
  overflow: scroll;
}

.searchbox.active {
      position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    min-height: 60px;
    background-color: #fff;
    z-index: 200;
}